@charset "UTF-8";
@font-face {
	font-family: 'fontelogo';
	src: url("./_fontes/Roboto-Regular.ttf");
}
	
html, body {
	font-family: arial, sans-serif;
    background-color: #d3d3d3;
	color: none;
	width: 100%;
    overflow-x: hidden;
	margin-block: initial;
	margin-left: 0px;
}
div#interface {
	width: 970px;
	background-color: #ffffff;
	margin: -30px auto 0px auto;
	box-shadow: 0px 0px 10px rgba(0,0,0,.5);
	padding: 10px;
}
p {
	text-align: justify;
    text-indent: 50px; 
}
a {
	color: #606060;
	text-decoration: none;
}
a:hover {
	opacity: 1;
	text-decoration: underline;
}
header#cabecalho img#icone {
	position: absolute;
	top: 65px;
	left: 770px;
	z-index: 1;
	transform: scale(0.8);
} 
header#cabecalho {
	border-bottom: 1px #606060 solid;
	height: 150px;
	background: url("./_imagens/glass-logo-peq.jpg")no-repeat 0px 100px;
}
header#cabecalho h1 {
	font-family: 'fontelogo', sans-serif;
	font-size: 30pt;
	color: #606060;
	text-shadow: 1px 1px 1px rgba(0,0,0,.6);
	padding: 0px;
	margin-bottom: 0px;
}
header#cabecalho h2 {
	font-family: arial, sans-serif;
	color: #888888;
	font-size: 15pt;
	padding: 0px;
	margin-top: 0px;
}
  /* Formata��o de imagens e legendas */

figure.foto-legenda {
  position: relative;
  border: 8px solid white; 
  box-shadow: 1px 1px 4px black;
 
}
figure.foto-legenda img {
	width: 100%;
	height: 100%;
}
figure.foto-legenda figcaption {
	position: absolute;
	top: 0px;
	background-color: rgba(0,0,0,.4);
	color: white;
	width: 100%;
	height: 100%;
	padding: 10px;
	box-sizing: border-box;
	opacity: 0;
	transition: opacity 1s;
}
figure.foto-legenda:hover figcaption {
	opacity: 1;
}
/*Formata��o do Menu*/
nav#menu {
	list-style: none;
	text-transform: uppercase;
	top: -20px;
	left: 300px;
}
nav#menu ul {
	list-style: none;
	text-transform: uppercase;
	position: absolute;
	top: -20px;
	left: 340px;
	width: 100%;
}
nav#menu li {
	display: inline-block;
	background-color: #d3d3d3 ;
	padding: 10px;
	margin: 4px;
transition: background-color 1s; 
}
nav#menu li:hover {
	background-color: gray;
}
nav#menu a {
	color: black;
	text-decoration: none;
}
nav#menu a:hover {
	color: white;
	text-decoration: underline;
}
section#corpo {
	display: block;
	width: 583px;
	float: left;
	border-right: 1px solid #606060;
	padding-right: 15px;
}
article#noticia-principal h2 {
	font-size: 13pt;
	color: #606060;
	background-color: #dddddd;
	padding: 5px 0px 5px 10px;
	margin: 10px 0px 10px 0px; 
}
header#cabecalho-artigo h1 {
	font-family: 'fontelogo', sans-serif;
	font-size: 20pt;
	color: #606060;
	margin-bottom: 0px;
	margin-top: 0px;
}
header#cabecalho-artigo h2 {
	font-size: 13pt;
	color: #cecece;
	background-color: #ffffff;
}
header#cabecalho-artigo h3 {
	font-size: 12pt;
	color: #606060;
}
.direita {
	text-align: right;
}
table#tabelaspec {
	border: 1px solid #606060;
	border-spacing: 0px;
	margin-left: auto;
	margin-right: auto;
}
table#tabelaspec td {
	border: 1px solid #606060;
	padding: 10px;
	text-align: center;
	vertical-align: top;
}
table#tabelaspec td.ce {
	text-align: left;
	background-color: #cecece;
}
table#tabelaspec td.cd {
	text-align: right;
	color: white;
	background-color: #606060;
	vertical-align: top;
	font-weight: bold;
}
table#tabelaspec caption {
	color: #888888; 
	font-size: 13pt;
	font-weight: bolder;
}
table#tabelaspec caption span {
	display: block;
	float: right;
	color: #000000;
	font-size: 8pt;
	margin-top: 10px;
}
aside#lateral {
	display: block;
	width: 350px;
	float: right;
	background-color: #dddddd;
	padding: 10px;
	margin-top: 10px;
	box-shadow: 2px 2px 2px rgba(0,0,0,.5);
}
aside#lateral h1 {
	font-family: 'fontelogo', sans-serif;
	font-size: 20pt;
	color: #606060;
	margin-top: 0px;
}
aside#lateral h2 {
	background-color: #606060;
	font-size: 13pt;
	color: white;
	padding: 5px;
} 
footer#rodape {
	clear: both;
	border-top: 1px solid #606060;
}
footer#rodape p {
	text-align: center;
}
/* Videos 2 pag */
div#video2 {
	display: block;
	position: relative;
	width: auto;
}

#video3, #video5 {
	width: 100%;
}